{% extends 'Base/base.html' %} {% block content %} Ingresa tu mail:

  
</form>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-9 mx-auto mb-5">
      <div class="row mt-3">
        <h3 class="fw-bold text-center py-5">Reiniciar contraseña</h3>
      </div>
      <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
          <input
            type="submit"
            class="btn btn-primary btn-block d-grid"
            value="Reiniciar contraseña"
          />
        </p>
      </form>
      
    </div>
  </div>
</div>

{% endblock %}